<div class='jumbotron center'>
	<h1>Welcome to Photogur!</h1>
	<h2>Share your pictures with the world!</h2>
	<p class='main-btn'><%= link_to "Sign Up!", new_user_registration_url, class: 'btn btn-primary' %></p>
</div>