<div class='main'>
	<% @pictures.each do |picture| %>
		<div class='box panel panel-body'>
			<div class='box-image'>
			<a href="/pictures/<%= picture.id %>"/>
				<%= image_tag(picture.url,class: 'images-index') %>
			</a>
			</div>
			<div class='mypictures-footer panel-footer center mypicture-footer'>
				<p class='mypic'><%= link_to "Edit", edit_picture_path(picture.id), class: 'btn btn-primary mypic-edit' %><%= link_to "Delete", picture_path(picture.id), method: :delete, class: 'btn btn-primary mypic-delete' %></p>
			</div>
		</div>
	<% end %>
</div>
