<p class=><%= link_to "Back", '/pictures', class: 'btn btn-primary btn-show' %></p>

<%= render 'layouts/votes' %>

<% if current_user.id == @picture.user_id %>
<p class=><%= link_to "Delete", picture_path(@picture), method: :delete, class: 'btn btn-primary btn-delete' %></p>
<% end %>	

<%= render 'layouts/comments' %>
