<div class='panel panel-primary'>
	<div class='panel panel-body'>
		<%= image_tag(picture[:url], width:'200', height:'300') %>
	</div>
	<div class='panel panel-footer'>
		<h2><%= picture[:title] %></h2>
		<h3><%= picture[:title] %>,<%= picture[:artist] %></h3>
	</div>
</div>