<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <span class='glyphicon glyphicon-picture'></span>
    <div class="navbar-header">
      <%= link_to "Photogur", '#', class: 'navbar-brand' %>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
      </ul>
  </div>
</nav>